body{
    background-color: #03001C;
}
label{
    color: #86A3B8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: #86A3B8;
}
h2{
    color: #86A3B8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: #86A3B8;
}
h4{
    color: #86A3B8;
}
h5{
    color: #86A3B8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: #86A3B8;
    font-family: serif;
}
ol{
    color: #86A3B8;
    font-family: serif;
}
table{
    color: #86A3B8;
    font-family: serif;
}